<form>
  <mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nome" name="nome" [(ngModel)]="produto.nome">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descrição" name="desc" [(ngModel)]="produto.desc">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Foto" name="foto" [(ngModel)]="produto.foto">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço" name="preco" [(ngModel)]="produto.preco">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="salvar(produto)" color="primary">Salvar</button>
      <button mat-raised-button routerLink="/admin">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>