<section class="home-prato">


    <img class="home-prato-imagem" src="{{ produto.foto }}" alt="Prato do dia">
  
  
    <span class="home-prato-conteudo">
  
      <h2 class="home-prato-secao">Aula em Destaque</h2>
      <h1 class="home-prato-titulo"> {{produto.nome}} </h1>
      <h2 class="home-prato-preco">{{produto.preco | formatoReal: 'BRL' }} </h2>
      <app-seletor [produto]="produto" 
        (eventoDeClique)="adicionarAoCarrinho($event)"></app-seletor>
      <h2 class="home-prato-titulo-ingredientes">Professora</h2>
      <p class="home-prato-texto"> {{ produto.desc}} </p>
  
    </span>
  
  
  </section>